body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}

.main-container{
    width: 500px;
    margin: 200px auto;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
    border-radius: 5px;
    
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.main-header{
    font-size: 40px;

}

.form-container{
    margin-bottom: 10px;
    width: 70%;

}

.email-label, .password-label{
    display: block;
    font-size: 20px;
    margin-bottom: 7px;

}

.input-form{
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
}

.btn-login{
    background-color: rgb(123, 50, 250);
    color: white;
    padding: 10px 30px;
    font-size: 24px;
    margin-bottom: 30px;
    border-radius: 8px;
    border:1px solid black;
    cursor: pointer;
    transition: 0.15s;
    

}
.btn-login:hover{
    background-color: white;
    color: rgb(123, 50, 250);
    border: 1px solid rgb(123, 50, 250);



}



.remind-text{
    text-align: center; 
    padding-bottom: 20px;

}
.register-link{
    color: rgb(123, 50, 250);

}